
@{
    Layout = null;
}
<html>
<head>
    <style>
        .header {
            text-align: center;
            background: url(http://bootstraptaste.com/demo/themes/Knight/img/pw_maze_black_2X.png) left top repeat;
            padding: 280px 0;
        }

        .logo {
            width: 130px;
            margin: 0 auto 35px;
        }

        .header h1 {
            font-family: 'Montserrat',sans-serif;
            font-size: 50px;
            font-weight: 400;
            letter-spacing: -1px;
            margin: 0 0 22px 0;
            color: #fff;
        }

        .we-create {
            padding: 0;
            margin: 35px 0 55px;
        }

        .wp-pic {
            margin-bottom: 20px;
        }

        .we-create li {
            display: inline-block;
            font-family: 'Montserrat',sans-serif;
            font-size: 14px;
            color: #bcbcbc;
            text-transform: uppercase;
            font-weight: 400;
            margin: 0 5px 0 0;
            padding: 0 0 0 15px;
        }

            .we-create li:first-child {
                background: none;
            }

        .start-button {
            padding-left: 0px;
        }

            .start-button li a {
                color: #fff;
            }

        .link {
            padding: 15px 35px;
            background: #7cc576;
            color: #fff !important;
            font-size: 16px;
            font-weight: 400;
            font-family: 'Montserrat', sans-serif;
            display: inline-block;
            border-radius: 3px;
            text-transform: uppercase;
            line-height: 25px;
            margin-bottom: 20px;
            transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
        }

            .link:hover {
                text-decoration: none;
                color: #7cc576 !important;
                background: #fff;
            }

            .link:active, .link:focus {
                background: #7cc576;
                text-decoration: none;
                color: #fff !important;
            }
    </style>

    <link href="~/Content/Animate.css" rel="stylesheet" />

</head>

<body>
    <div class="csstransforms csstransforms3d csstransitions" style="overflow:hidden; height:98vh;">
        <header class="header" id="header" style="height:98vh;">
            <div class="container">
                <figure class="logo animated fadeInDown delay-07s">
                    <!--<a href="#"><img src="img/logo.png" alt=""></a>-->
                </figure>
                <h1 class="animated fadeInDown delay-07s">WAT</h1>
                <ul class="we-create animated fadeInUp delay-1s">
                    <li>Viajá al extranjero, aprende un idioma y trabaja</li>
                </ul>
                <a class="link animated fadeInUp delay-1s" href="/WAT">Inscribite!</a>
            </div>
        </header>
    </div>
</body>
</html>